
<div class="example-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field" >
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
      </form>
    </div>
  </div>
